body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: lightcyan;
    width: 100%;
    height: 119px;
    position: fixed;
    z-index: 5;
}

.logo_SC{
    padding-top: 8px;
    padding-left: 30px;
    height: 100px;
    width: auto;
}

.title{
    text-align: left;
    font-size: xx-large;
    margin-left: 485px;
    margin-top: -74px;
    width: 250px;
}

nav{
    text-align: left;
    float: right;
    font-size: large;
    margin-top: -70px;
    padding-right: 3%;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

li{
    float: left;
    display: inline;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border-radius: 5px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal_content{
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
    margin-top: 480px;
}

.modal_close{
    position: absolute;
    top: 9px;
    right: 23px;
    color: grey;
    text-decoration: none;
    font-size: 2em;
}

.modal_content p{
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
}



.page{
    padding-top: 54px;
}

section {
    margin-top: 80px;
}

h1{
    font-size: 4em;
    font-style:normal;
    position: relative;
    z-index: 1;
    top: 287px;
    color: white;
    font-weight:bolder;
    text-align: center;
}

.background{
    width: 1920px;
    height: 810px;
    margin-top: -115px;
    background-image: url(images/cutlass_planete.jpg);
    background-size: contain;
    position: relative;
    z-index: -1;
}

h2{
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 110px;
}

h3{
    color: black;
    font-size: x-large;
    text-align: left;
    position: relative;
    left: 85px;
}

.planetes{
    padding-top: 60px;
}

p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 530px;
    color: black;
    text-align: justify;
    line-height: 2em;
}

.logo_CIG{
    height: 185px;
    width: auto;
    position: absolute;
    float: right;
    bottom: -340px;
    right: 118px;
}



footer{
    margin: 0;
    padding-bottom: 30px;
    text-align:center;
    background-color: gray;
}

footer p{
    color: white;
    margin-bottom: 0;
}

footer br{
    line-height: 60px;
}

h4{
    color: white;
    font-size: x-large;
    text-align: left;
    position: relative;
    left: 100px;
    padding-bottom: 25px;
}

.logo_gmail{
    position: relative;
    width: auto;
    height: 35px;
    top: 1px;
    right: 842px;
}

.logo_github{
    position: relative;
    width: auto;
    height: 40px;
    top: 4px;
    right: 745px;
}

footer section{
    margin-top: 60px;
}

footer nav{
	text-align: left;
        float: none;
    margin: 0;
    padding: 0;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    float: left;
}

footer li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px auto;
    text-decoration: none;
}

footer li a:hover{
    background-color: lightgray;
}



.conteneur_paysages{
    max-width: 576px;
    margin: 50px auto;
}

.i1{
    width: 100%;
    height: 0px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}

.i1:hover{
    animation-play-state: paused;
}

@keyframes fondu{
    0%{background-image: url("images/panete_sable");}
    25%{background-image: url("images/paysage_microtech.jpg");}
    50%{background-image: url("images/vaisseau_planete.jpg");}
    75%{background-image: url("images/loreville.jpg");}
    100%{background-image: url("images/joueur_planete.png");}
}

.conteneur_vaisseaux{
    max-width: 576px;
    margin: 50px auto;
}
.i2{
    width: 100%;
    height: 0px;
    padding-top: 75%;
    box-shadow: 0px 0px 10px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 15s ease-in-out infinite both;
}

.i2:hover{
    animation-play-state: paused;
}
@keyframes fondu{
    0%{background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo1.png");}
    33.33%{background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo2.png");}
    66.67%{background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo3.png");}
    100%{background-image: url("https://www.pierre-giraud.com/wp-content/uploads/2019/07/diapo1.png");}
}