h1
{
    color: black;
    text-align: center;
}

h2 
{
    color: black;
    text-align: start;
}

.sommaire
{
    color: blue;
    text-align: center;
    
}

.presentation
{
    color: black;
    text-align:center;
}

footer
{
    color: black;
    text-align:center;
}