body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: lightcyan;
    width: 100%;
    height: 119px;
    position: fixed;
    z-index: 5;
    top: 0px;
}

.logo_SC{
    padding-top: 8px;
    padding-left: 30px;
    height: 100px;
    width: auto;
}

.title{
    text-align: left;
    font-size: xx-large;
    margin-left: 485px;
    margin-top: -74px;
    width: 250px;
    margin-bottom: 26px;
}

nav{
    text-align: left;
    float: right;
    font-size: large;
    margin-top: -70px;
    padding-right: 3%;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

li{
    float: left;
    display: inline;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border-radius: 5px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }

.modal_content{
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
    margin-top: 730px;
}

.modal_content p{
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal_content{
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
}
  
.modal_close{
    position: absolute;
    top: 17px;
    right: 28px;
    color: grey;
    text-decoration: none;
    font-size: 40px;
}

h6{
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}



.page{
    padding-top: 54px;
}

section{
    margin-top: 80px;
}

h1{
    font-size: 4em;
    font-style:normal;
    position: relative;
    z-index: 1;
    top: 287px;
    color: white;
    font-weight:bolder;
    text-align: center;
}

.background{
    width: 1920px;
    height: 810px;
    margin-top: -115px;
    background-image: url(images/cutlass_planete.jpg);
    background-size: contain;
    position: relative;
    z-index: -1;
}

h2{
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 45px;
}

h3{
    color: black;
    font-size: x-large;
    text-align: left;
    position: relative;
    left: 85px;
    margin-top: 0px;
    padding-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.texte_pres p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 50px;
    color: black;
    text-align: justify;
    line-height: 2em;
}

.logo_CIG{
    height: 185px;
    width: auto;
    position: absolute;
    float: right;
    bottom: -404px;
    right: 118px;
}

.texte{
    border: solid;
    border-color: black;
    border-radius: 4px;
    margin-top: 50px;
}

p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 530px;
    color: black;
    text-align: justify;
    line-height: 2em;
}



footer{
    margin: 0;
    padding-bottom: 30px;
    text-align:center;
    background-color: gray;
}

footer p{
    color: white;
    margin-bottom: 0;
    margin-top: 150px;
}

footer br{
    line-height: 60px;
}

h4{
    color: white;
    font-size: x-large;
    text-align: left;
    position: relative;
    left: 100px;
    padding-bottom: 25px;
}

.logo_gmail{
    position: relative;
    width: auto;
    height: 35px;
    top: 1px;
    right: 787px;
}

.logo_github{
    position: relative;
    width: auto;
    height: 40px;
    top: 4px;
    right: 688px;
}

footer section{
    margin-top: 60px;
    margin-left: 110px;
}

footer nav{
	text-align: left;
        float: none;
    margin: 0;
    padding: 0;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    float: left;
}

footer li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px auto;
    text-decoration: none;
}

footer li a:hover{
    background-color: lightgray;
}